body {
  background-color: black;
  margin: 0;
  font-family: Roboto;
}

.top-header {
  background-color: blue;
  height: 56px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.top-tabs {
  height: 56px;
  padding-top: 56px;
  background-color: brown;
  margin-left: 229px;
}

.side-nav {
  width: 229px;
  background-color: blueviolet;
  position: fixed;
  top: 56px;
  left: 0px;
  bottom: 0px;
  height: 735.2px;
}

.videos {
  background-color: antiquewhite;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 8px;
  padding-top: 24px;
  margin-left: 229px;
  padding-left: 34px;
  padding-right: 22px;
  padding-bottom: 8px;
  row-gap: 8px;
}

.videos-section {
  background-color: aqua;
  height: 400px;
  margin: 2px;
  margin: 0;
  border-radius: 18px;
}
