body {
  background-color: black;
  margin: 0;
  font-family: Roboto;
}

.top-header {
  height: 56px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  color: white;
  display: flex;
}

.topbar-left {
  width: 200px;
  display: flex;
  align-items: center;
  margin: 0px;
}

.topbar-middle {
  flex: 5;
  background-color: blueviolet;
}

.topbar-right {
  width: 200px;
  background-color: blue;
}

.menu-icon-div {
  flex: 1;
  padding-left: 23px;
}

.menu-icon {
  width: 20px;
  height: 2px;
  background-color: white;
  margin: 4px 0;
}

.train-logo-div {
  flex: 1;
}

.youtube-logo {
  width: 100%;
}

.blank-logo-div {
  flex: 1;
}

.search-textbox {
}

/* .top-tabs {
  height: 56px;
  padding-top: 56px;
  background-color: brown;
  margin-left: 229px;
} */

.side-nav {
  width: 229px;
  position: fixed;
  top: 56px;
  left: 0px;
  bottom: 0px;
  height: 735.2px;
}

.videos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 18px;
  padding-top: 85px;
  margin-left: 229px;
  padding-left: 36px;
  padding-right: 22px;
  padding-bottom: 8px;
  row-gap: 25px;
}

.videos-section {
  margin: 2px;
  margin: 0;
  color: aliceblue;
}

.videos-section img {
  max-width: 100%;
}

.thumbnail-img {
  border-radius: 15px;
}

.video-description-div {
  display: grid;
  grid-template-columns: 1fr 8fr;
}

.cahnnel-pic-div {
  display: inline-block;
}

.video-description {
  padding-left: 3px;
}

.channelpic-img {
  border-radius: 50px;
  width: 36px;
  margin-top: 7px;
}

.video-name {
  margin-top: 7px;
  margin-bottom: 0px;
}

.video-name {
  font-weight: 500;
}

.channel-name {
  font-weight: 400;
  font-size: 14px;
  color: rgb(174, 174, 174);
  margin-bottom: 0;
  display: inline-block;
}

.video-details {
  color: rgb(174, 174, 174);
  font-weight: 400;
  font-size: 14px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.middle-dot {
  font-weight: 1000;
}

.live-div {
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 2px;
  font-size: 12px;
  display: inline-block;
  background-color: red;
}

.tick-div {
  width: 12px;
  height: 12px;
  border-radius: 25px;
  background-color: #e0e0e0;
  font-size: 9px;
  display: inline-block;
  color: black;
  margin-left: 10px;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
